#OS junk files
[Tt]humbs.db
*.DS_Store

#Office Temp Files
~$*

#root folder

#files folder

#icons folder

#images folder

#js folder

#redirect folder

#scripts folder

#style folder

#teaching folder