sudo apt install python-pip
pip install requests
pip install scholarly 0.2.4
	FIXES > https://github.com/scholarly-python-package/scholarly/pull/28/files
pip install --upgrade google-api-python-client

Or,

a. Manually download 'requests' and 'scholarly' and 'google-api-python-client' from git
b. cd in respective directories
c. python setup.py install --user